@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d2025;
  /*Primary*/
  --Orange: #ff7d1a;
  --Pale-orange: #ffede0;
  /*Neutral*/
  --Very-dark-blue: #1d2025;
  --Dark-grayish-blue: #68707d;
  --Grayish-blue: #b6bcc8;
  --Light-grayish-blue: #f7f8fd;
  --White: #ffffff;
  --Black: #000000; /*(with 75% opacity for lightbox background): */
  /* Typography */
  --font-size-body: 16px;
  --font-sans: "Kumbh Sans", sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-very-dark-blue: var(--Very-dark-blue);
  --color-dark-grayish-blue: var(--Dark-grayish-blue);
  --color-grayish-blue: var(--Grayish-blue);
  --color-light-grayish-blue: var(--Light-grayish-blue);
  --color-orange: var(--Orange);
  --color-pale-orange: var(--Pale-orange);

  --font-sans: var(--font-sans);
  --font-size-body: var(--font-size-body);
  --font-weight-400: 400;
  --font-weight-700: 700;
}
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --Very-dark-blue: #f7f8fd;
  --Dark-grayish-blue: #ededed;
  --Light-grayish-blue: #1d2025;
  --White:#000000;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* @keyframes dots {
  0% { box-shadow: 1.5em 0, 3em 0, 4.5em 0; }
  33% { box-shadow: 0 0, 3em 0, 4.5em 0; }
  66% { box-shadow: 0 0, 1.5em 0, 4.5em 0; }
  100% { box-shadow: 0 0, 1.5em 0, 3em 0; }
}
.loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: currentColor;
  box-shadow: 1.5em 0, 3em 0, 4.5em 0;
  animation: dots 1s infinite linear;
} */